@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Averta';
    font-weight: 400;
    src: url('/fonts/averta/averta-regular.woff2') format('woff2'),
      url('/fonts/averta/averta-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Averta';
    font-weight: 500;
    src: url('/fonts/averta/averta-semibold.woff2') format('woff2'),
      url('/fonts/averta/averta-semibold.woff') format('woff');
  }

  @font-face {
    font-family: 'Averta';
    font-weight: 600;
    src: url('/fonts/averta/averta-bold.woff2') format('woff2'),
      url('/fonts/averta/averta-bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Grotesk';
    font-weight: 400;
    src: url('/fonts/grotesk/founders-grotesk-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Grotesk';
    font-weight: 500;
    src: url('/fonts/grotesk/founders-grotesk-medium.woff2') format('woff2');
  }

  @font-face {
    font-family: 'Grotesk';
    font-weight: 700;
    src: url('/fonts/grotesk/founders-grotesk-bold.woff2') format('woff2');
  }

  html {
    font-family: 'Averta';
    font-feature-settings: 'calt' off;
  }

  button {
    font-feature-settings: 'calt' off;
  }
}
