a.nav-link svg path {
  /*fill: var(--pt-purple-200);*/
  fill: #c8adff;
}

a.nav-link.active {
  color: var(--pt-teal-light);
}

a.nav-link.active > svg path {
  /* fill: var(--pt-teal-light); */
  fill: #35f0d0;
}
